
/* Main div control  */
/* Perspective property determines the distance betwen z=0 plane to the user  */
.conteiner {
    height: 400px;
    width: 220px;
    perspective: 1000px;
    position: relative;
}

/* Control of card: (width, heigth and all visibility card style) */
.conteiner .face{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* */
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/* 3D control the card before the action*/
.conteiner .front {
    transform: rotateY(0deg);
}

.conteiner .back {
    transform: rotateY(180deg);
}

/* 3D control the card after the action */
.conteiner:hover .front{
    transform: rotateY(-180deg);
}

.conteiner:hover .back{
    transform: rotateY(0deg);
}

.conteiner .face .frontImg{
    border-radius: 20px;
    width: auto;
    height: 100%;

}

/* Images */
#backImg{
    background-image: url(./images/back.png);
}

#frontImg{
    background-image: url(./images/front.png);
}